.content-form {
  width: 384px !important;
  height: 557px;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 100px;
}

.content-form img {
  margin-top: 50px;
  margin-bottom: 24px;
}

.page-login {
  height: 780px;
  border-bottom: solid 1px #cccccc;
}

.input {
  width: 344px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 10px;
  outline: none;
}

.input-usuario {
  width: 344px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 32px;
  padding: 0px 0px 0px 10px;
  outline: none;
}

textarea:focus,
select:focus,
textarea.input:focus,
input.input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].input:focus,
[type="password"].input:focus,
[type="email"].input:focus,
[type="tel"].input:focus,
[contenteditable].input:focus {
  box-shadow: none;
  border: 1px solid #888888;
}

.entrar {
  width: 344px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #1351b4;
  color: #fff;
  border: none;
  outline: none;
  font-family: Rawline;
  font-style: normal;
  font-weight: 500;
  font-size: 16.8px;
  line-height: 19px;
}

.input-icone {
  position: relative;
}

.input-icone input {
  padding-right: 35px;
}

.input-icone i {
  position: absolute;
  top: 17%;
  right: 0;
  margin-right: 10px;
  color: #1351b4;
}

.input-icone i:hover {
  cursor: pointer;
}

.label {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin-bottom: 4px;
}

.plataforma {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 20.16px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 4px;
}

.uniao {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #9e9d9d;
}

::-webkit-input-placeholder {
  font-family: Rawline;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.link {
  font-family: Rawline;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #1351b4;
  margin-bottom: 40px;
}
