.menu-border {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  padding: 60px 0px;
}

.texto-cancelar {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  color: #1351b4;
}

.voltar {
  width: 180px;
  background: #ffffff;
  outline: none;
  border-radius: 8px;
  color: #fff;
  border: none;
  height: 43px;
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  text-align: center;
  color: #1351b4;
}

.avançar {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  width: 180px;
  background: #1351b4;
  outline: none;
  border-radius: 8px;
  color: #fff;
  border: none;
  height: 43px;
}

.texto-ajudar {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  color: #888888;
}

#icon {
  color: #1351b4;
  margin: 0px 5px;
}

.ajudar {
  margin-top: 10px;
}
