.titulo-revisao {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 34.84px;
  line-height: 40px;
  color: #1351b4;
  margin-top: 80px !important;
  margin-bottom: 40px !important;
}

.informacao-texto {
  margin-bottom: 29px;
}

.informacao-texto p {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin-bottom: 14px;
}

.informacao-texto li {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  margin-bottom: 8px;
}

.sobre-sistema {
  margin-bottom: 28px !important;
}
