.menu-item {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #1351b4;
}

.navbar-brand {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 20px;
  color: #9e9d9d;
}

.box-content-navbar {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height: 130px;
}

@media(min-width:360px){
  .box-content-navbar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 180px !important;
  } 
}


@media(min-width: 1200px){
  .box-content-navbar {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 130px !important;
  }
}