* {
  margin: 0;
  padding: 0;
}

.menu {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #1351b4;
  margin-top: 7px;
}

.nav-link {
  color: #1351b4;
}

.navbar-brand {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 20px;
  color: #9e9d9d;
}

.content-nav {
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  height: 150px;
}

.drop-menu {
  display: flex;
  align-items: center;
}
