.content-border {
  border-bottom: solid 1px #cccccc;
}

.titulo {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 41.8px;
  line-height: 48px;
  color: #0c326f;
  margin-bottom: 60px;
}

.page-imagem {
  margin-top: 80px;
}

.round {
  background-color: #0c326f;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin-top: 20px;
  padding: 4px 5px 5px 5px;
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 24.19px;
  line-height: 28px;
  /* identical to box height, or 115% */

  text-align: center;

  /* -color-secondary-01 */

  color: #ffffff;
}

.round-two {
  border: 1px solid #1351b4;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: #0c326f;
  margin-top: 20px;
  padding: 3px 5px 5px 5px;
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 24.19px;
  line-height: 28px;
  color: #1351b4;
}

.border-menu {
  border-bottom: solid 1px #1351b4;
}

.font {
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  color: #1351b4;
}

.nova-edicao {
  font-family: Rawline;
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  color: #1351b4;
  margin-left: 40px;
  margin-bottom: 60px;
}

.revisao-finalizacao {
  font-family: Rawline;
  font-style: normal;
  font-weight: 500;
  font-size: 16.8px;
  line-height: 19px;
  color: #1351b4;
  text-align: center;
  margin-left: 120px;
}

.texto-border {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #cccccc;
}
