.rodape {
  background-color: #071d41;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.midias-sociais {
  margin-top: 40px !important;
}

.midias-sociais a {
  color: #fff;
  text-decoration: none;
  margin: 0px 10px;
}

.midias-sociais li {
  list-style: none;
  margin-top: 10px;
}

.redes-sociais-titulo {
  font-style: normal;
  font-weight: 600;
  font-size: 16.8px;
  line-height: 19px;
  color: #fff;
}

.images-gov {
  margin-top: 40px !important;
}

.images-gov img {
  margin: 0px 15px;
  object-fit: contain;
}



@media(min-width:360px){
  .rodape{
    height: 240px;
  }

  .sub-rodape{
    height: 100px !important; 
  }
}


@media(min-width:1200px){
  .rodape{
    height: 150px;
  }

  .sub-rodape{
    height: 70px !important; 
  }
}