.bem-vindo {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 41.8px;
  line-height: 48px;
  color: #0c326f;
  margin-top: 60px;
}
.titulo-bem-vindo {
  font-family: Rawline;
  font-style: normal;
  font-weight: normal;
  font-size: 24.19px;
  line-height: 28px;
  color: #888888;
}
