.gns-systems {
  font-family: Rawline;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #cccccc;
}

.sub-rodape {
  background-color: #04132a;
  height: 70px;
}
